<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /precon_doc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /precon_doc/index.php [L]
</IfModule>
